
src/node_modules
vagrant/.vagrant
vagrant/ubuntu-xenial-16.04-cloudimg-console.log
src/settings.json
src/logs
src/watchers
src/flags/
build/build.tar.gz
build/.stage/
docker/settings.json
src/.env
.vscode/launch.json
src/yarn-error.log
src/tests/user
!src/tests/user/example.js
src/user-scripts
src/config/settings.*.yml
build/linux64
build/logs
src/.nyc_output
src/coverage/
