
src/node_modules
vagrant/.vagrant
vagrant/ubuntu-xenial-16.04-cloudimg-console.log
src/settings.json
src/logs/
src/watchers
src/flags/
docker/logs/
docker/.keys/
docker/flags
docker/build.tar.gz
docker/.clone/
docker/settings.json
src/.env
src/tests/user/
.vscode/launch.json
