<html>
    <head>
        <link rel="stylesheet" href="/content/css/iframe.css" type="text/css">
        <title>Are we down?</title>
    </head>
    <body data-dashboard="{{dashboardNode}}" data-dashboardRefreshInterval="{{dashboardRefreshInterval}}" data-dashboardLoadTimeout="{{dashboardLoadTimeout}}" >
        {{! 
            Load actual status page via iframe so we can gracefully handle the status page being down. 
            This makes this solution kiosk-mode friendly - once loaded into the browser, the default 
            kiosk page will always be able to continue reloading, even if the target page is temporarily
            down.
        }}
        <iframe class="contentFrame contentFrame1"></iframe>
        <iframe class="contentFrame contentFrame2"></iframe>
        <script src="/content/js/iframe.js"></script>
    </body>
</html>


