@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

:root {
    --layout-universalMargin: 8px;
    --bootstrip-layout-gutter: 8px;
    --color-nepal: #97A4BE;
    --color-fiord: #404B63;
    --color-ebonyClay: #262c3a;
    --color-mirage: #19222d;
    --color-mountainMeadow: #22b66e;
    --color-salem: #139556;
    --color-vermilion: #FA3C00;
    --color-orange: #ff5722;
    --color-fire: #A82800;
    --color-white:#fff;
    --color-dodgerBlue: #3da6fa;
    --arewedown-historyCellStdWidth: 152px;

} 

body {
    background-color: var(--color-mirage);
}

a {
    color: var(--color-dodgerBlue);
}
h1 {
    margin: 0;
    padding:0;
    font-weight: bold;
    font-size: 3em;
}

h2 {
    
    color: var(--color-white);
    font-weight: bold;
}



.pager-anchor {
    border: none;
    color: var(--color-white);
    background-color: var(--color-dodgerBlue);
}

.pager-anchor.--active {
    background-color: var(--color-fiord);
}

.layout.layout--failing {
    background-color: var(--color-fire);
}

.layout-header {
    height: 64px;
    text-align: center;
    background-color: var(--color-ebonyClay);
    position: relative;
}

.layout-header a {
    color: var(--color-dodgerBlue);
}

.layout-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color-ebonyClay);
    color: var(--color-white);
    width: 100%;
    z-index: 1;
    text-align: center;
    height: 42px;
    padding-top: 8px;    
}

.layout-content {
    padding: var(--layout-universalMargin);
    padding-bottom: 32px;
}

.layout-dashboardMenuHolder {
    position: absolute;
    top: 50%;
    right: var(--layout-universalMargin);
    transform: translateY(-50%);
}

.dashboardMenu {
    width: 200px;
}

.watcher {
    background-color: inherit;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;    
    margin: 2px;
}

.watcher .cell { 
    background-color: var(--color-orange);
    color: var(--color-white);
}

.watcher.watcher--passing .cell {
    background-color: var(--color-mountainMeadow);
    color: var(--color-mirage);
}

.watcher.watcher--passing .cell--header {
    background-color: var(--color-salem);
}

.watcher.watcher--configErrors .cell {
    background-color: darkgrey;
}

.watcher.watcher--configErrors .cell--header {
    background-color: grey;
}

.watcher-nextUpdateWrapper {
    height: 38px;
    font-size: 12px
}

.history {
    background-color: var(--bootstrip-color-oxfordblue);
}

.history x-list-cell {
    min-height: 48px;
    align-self: flex-start;
}

.history-item {
    background-color: var(--bootstrip-color-oxfordblue);
    border-top-color: var(--bootstrip-color-gunPowder);
    color:var(--color-mountainMeadow);
}

.history-info {
    padding:var(--layout-universalMargin);
    color: var(--color-nepal);
    background-color: var(--bootstrip-color-oxfordblue);
}

.history-info .header3 {
    margin-top: 0;
    font-weight: bold;
}

.history-durationBar{
    margin-top: 4px;

    max-width: var(--arewedown-historyCellStdWidth);
}

.history-status {
    max-width: var(--arewedown-historyCellStdWidth);
}

.history-duration{
    max-width: var(--arewedown-historyCellStdWidth);
}

.history-date{
    max-width: var(--arewedown-historyCellStdWidth);
}

.history-status{
    max-width: var(--arewedown-historyCellStdWidth);
    padding-left: 16px;
}

.history-item.--error {
    color:var(--color-vermilion);
}

.history-item:first-child {
    border-top-color: var(--bootstrip-color-oxfordblue);
}

.watcherHistory-durationBarWrapper{
    background-color: var(--color-fiord);
    height: 4px;
    position: relative;
    margin-bottom: var(--layout-universalMargin);
    top: -8px;
}

.watcherHistory-durationBar {
    height: 16px;
    min-width: 2%;
    background-color: var(--color-orange);
}

.watcherHistory-durationBar--up {
    background-color: var(--color-mountainMeadow);
}

.dshistory-item.--error {
    background-color: var(--color-vermilion);
    color:var(--bootstrip-color-white);
}

.cell {
    padding: var(--layout-universalMargin);
    word-wrap: break-word;
    overflow: hidden;
}

.cell.cell--content {  
    height: 94px;
    max-height: 96px;
    overflow: hidden;
}

.cell-passing {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; 
}

.cell.cell--header {
    font-weight: bold;
    font-size: 20px;
    background-color: var(--color-vermilion);
    max-height: 65px;
    overflow: hidden;
    white-space: nowrap;    
}

.icon-passing {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
