@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

:root {
    --layout-universalMargin: 8px;
    --color-fiord: #404B63;
    --color-ebonyClay: #262c3a;
    --color-mirage: #19222d;
    --color-mountainMeadow: #22b66e;
    --color-salem: #139556;
    --color-vermilion: #FA3C00;
    --color-orange: #ff5722;
    --color-fire: #A82800;
    --color-white:#fff;
    --color-dodgerBlue: #3da6fa;
} 

/*
    This layout would have been much easier with Flex, but it needed to be backwards-compatible with older browsers.
*/

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    padding : 0;
    margin : 0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: var(--color-mirage);
    text-decoration: none;   
}

a:visited {
    color: var(--color-mirage);
}

h1 {
    margin: 0;
    padding:0;
    color: var(--color-dodgerBlue);
}


header {
    background-color: var(--color-vermilion);
    color: var(--color-white);
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;  
    word-break: keep-all; 
    white-space: nowrap; 
}

main {
    padding-top: 74px; /* header height */
    position: relative;
    height: 100%;
    color: var(--color-dodgerBlue);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color-vermilion);
    color: var(--color-white);
    width: 100%;
    z-index: 1;
}

.layout {
    background-color: var(--color-mirage);
}

.layout.layout--failing {
    background-color: var(--color-fire);
}

.layout header {
    background-color: var(--color-ebonyClay);
    color: var(--color-dodgerBlue);
}

.layout footer {
    background-color: var(--color-ebonyClay);
    color: var(--color-dodgerBlue);
}

.layout-titleScaffold {
    height: 64px; /* header height */
    position: relative;
}

.layout-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--layout-universalMargin);    
    padding-right: var(--layout-universalMargin);    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: var(--layout-universalMargin);    
    row-gap: var(--layout-universalMargin);    
}

.layout-renderTime {
    font-style: italic;
    padding: var(--layout-universalMargin) 0;
    text-align: center;
}

.watcher {
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    max-width: 300px;
    position: relative;    

}

.watcher .cell { 
    background-color: var(--color-orange);
    color: var(--color-white);
}

.watcher.watcher--passing .cell {
    background-color: var(--color-mountainMeadow);
    color: var(--color-mirage);
}


.watcher.watcher--passing .cell--header {
    background-color: var(--color-salem);
}

.watcher.watcher--configErrors .cell {
    background-color: darkgrey;
}

.watcher.watcher--configErrors .cell--header {
    background-color: grey;
}

.watcher-nextUpdateWrapper {
    height: 38px;
}

.cell {
    padding: 8px /* universal Unit */;
    word-wrap: break-word;
    overflow: hidden;
}

.cell.cell--content{  
    height: 94px;
    max-height: 96px;
    overflow: hidden;
}

.cell.cell--header {
    font-weight: bold;
    font-size: 20px;
    background-color: var(--color-vermilion);
    max-height: 65px;
    overflow: hidden;    
}

.icon-passing {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.watcherHistory {
    padding-top: var(--layout-universalMargin);
    position: relative;    
    color: var(--color-white);
    overflow: hidden;
    margin-top: calc(var(--layout-universalMargin) * 4);
}

.watcherHistory:nth-child(even){
    background-color: var(--color-ebonyClay);
}

.watcherHistory-items {
    display: table;
}

.watcherHistory-item {
    padding: var(--layout-universalMargin);
    padding-top: 0;
    display: table-cell;
    vertical-align: top;
}

@media all and (max-width: 800px) {
    .watcherHistory-item {
        display: block;
    }  
}


.watcherHistory-durationBarWrapper{
    background-color: var(--color-fiord);
    height: 4px;
    position: relative;
    margin-bottom: 8px;
    top: -8px;
}

.watcherHistory-durationBar {
    height: 100%;
    min-width: 1%;
    background-color: var(--color-orange);
}

.watcherHistory-durationBar--up {
    background-color: var(--color-mountainMeadow);
}

.watcherHistory-status {
    font-size: 28px;
    font-weight: bold;
    width: 100px;
    color: var(--color-orange);
    line-height: 24px; /* fakes vertical alignment of large text in this cell relative to adjacent cells */
}

.watcherHistory-status.watcherHistory-status--up {
    color: var(--color-mountainMeadow);
}

.watcherHistory-error {
    color: var(--color-orange);
    white-space : normal;
}

.watcherHistory-duration {
    width: 122px;
}

.watcherHistory-date {
    width: 160px;
}

.watcherHistory-header {
    margin: 0;
    padding:0;
    text-transform: uppercase;
}

.dashboard-message {
    color: var(--color-dodgerBlue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;    
}

@media all and (min-width: 501px) {
   
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 5vw;
    }

}
