@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

:root {
    --color-white: #ffffff;
    --color-ebonyClay : #262c3a;
    --color-tanHide: #FB9C60;
    --color-persianRed: #D03939;
    --color-riverBed: #404757;
    --dimension-headerHeight: 64px;
    --dimension-universalUnit: 8px;
}

html {

}

h1 {
    margin: 0;
    padding:0;
}

header {
    background-color: var(--color-ebonyClay);
    color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

main  {
    margin-top: var(--dimension-headerHeight);
    padding: var(--dimension-universalUnit);
}

body {
    padding : 0;
    margin : 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.layout {
    background-color: var(--color-tanHide);
}

.layout--passing {
    background-color: transparent;
}

.layout-url{
    color: white;
}

.layout-titleScaffold{
    height: var(--dimension-headerHeight);
    position: relative;
}

.layout-title {
    position: absolute;
    left: var(--dimension-universalUnit);
    top: 50%;
    transform: translateY(-50%);
}

.layout-scaffold {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding-left: var(--dimension-universalUnit);
    padding-right: var(--dimension-universalUnit);
}

.job {
    background-color: var(--color-persianRed);
    
    
}

.job--passing {
    background-color: transparent;
}

.job--passing .layout-url{
    color: gray;
}


.table {
    display: table;
    max-width: 100%;
    width: 100%;
}

.table-header {
    background-color: var(--color-riverBed);
    color: var(--color-white);
    display: table-header-group;
    font-weight: bold;
}

.table-cellLabel{
    color: var(--color-ebonyClay);
    display: none;
    font-weight: bold;    
}

.table-row {
    display: table-row;
}

.table-smallrow{
    display: inline;
}

.table-cell {
    border: var(--color-riverBed) 1px solid;
    display: table-cell;
    padding: var(--dimension-universalUnit);

}

.table-cellValue {
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}

.layout-renderTime{
    font-style: italic;
    padding-top: var(--dimension-universalUnit);
}

@media all and (min-width: 501px) {
    .table-cell:not(:last-of-type) {
        border-right: none;
    }
    
    .table-row:last-of-type .table-cell {
        border-top: none;
    }
}

@media all and (max-width: 500px) {
    .table-cellLabel{
        display: block;
        padding: var(--dimension-universalUnit);
    }

    .table-cellValue{
        display: block;
        padding: var(--dimension-universalUnit);
    }

    .table-cell {
        display: block;
        border : none;
        border-left: var(--color-riverBed) 1px solid;
        border-right: var(--color-riverBed) 1px solid;
        padding: 0;
    }

    .table-cell:first-of-type {
        border-top: var(--color-riverBed) 1px solid;
    }

    .table-row:last-of-type .table-cell:last-of-type {
        border-bottom: var(--color-riverBed) 1px solid;
    }

    .table-header {
        display: none;
    }
}





