{
    "all": true,
    "check-coverage" : true,
    "lines" : "100",
    "include": [
        "lib/**/*.js",
        "routes/**/*.js",
        "tests/**/*.js",
        "index.js"
    ],
    "exclude": [
        "**/types/**"
    ]
}